
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PharmacyLayout.cshtml";
}
<script src="~/Scripts/Controller/Products.js"></script>

@section style
    {
    <style>
        label.error {
            color: red;
            font-style: italic;
            display: inline;
        }

        .divIcon {
            display: flex;
            align-items: center;
            position: relative;
            display: inline;
        }

        .dtlistIcon {
            position: absolute;
            padding: 10px;
            font-size: 11px;
            min-width: 40px;
            right: -32.5px;
        }

        /*input::-webkit-calendar-picker-indicator {
            display: none;
        }*/
    </style>
}
<br />
<div ng-app="myApp">
    <div class="widget green" ng-controller="Products">
        <div class="widget-title hidden-print">
            <h4><i class="icon-reorder"></i> Product List</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>

            </span>
        </div>
        <div class="widget-body">
            <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row-fluid hidden-print">
                    <div class="span10">
                        <div id="sample_1_length" class="dataTables_length">
                            <label>
                                <select ng-model="ddlPage" id="PageId" name="PageId" class="input-mini" ng-options="page.PageNoShow for page in PageList track by page.PageId" ng-init="ddlPage.PageId =1" title="Page" data-toggle="tooltip"></select>&nbsp;records per page
                            </label>
                            <button class="btn btn-mini btn-info" ng-click="PrintDoc();"><i class="icon-print icon-white"></i> Print</button>
                            <button class="btn btn-mini btn-warning" ng-click="RedirectToCreate();"><i class="icon-plus icon-white"></i> Create</button>
                            <span style="float:right;">
                                <input type="text" class="input-medium" id="startDate" placeholder="Start Date" ng-model="StartDate" />
                                <input type="text" class="input-medium" id="endDate" ng-model="EndDate" placeholder="End Date" />
                                <button type="submit" class="btn btn-warning" ng-click="GetDetails()" style="height: 30px;">Load</button>

                            </span>
                           
                        </div>
                    </div>
                    <div class="span2">
                        <div class="dataTables_filter" id="sample_1_filter">
                                <input type="text" aria-controls="sample_1" ng-model="SearchItem" placeholder="Search here..." class="input-medium">
                        </div>
                    </div>
                </div><table class="table table-striped table-bordered dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                        <tr role="row">
                            <th style="width: 2%;" class="text-center">S/L</th>
                            <th class="text-center">Product Name</th>
                            <th class="text-center">Brand</th>
                            <th class="text-center">Group</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Added Date</th>
                            <th style="width: 15%;" class="text-center hidden-print">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="product in ProductList | filter: SearchItem |limitTo:ddlPage.PageNo">
                            <td class="text-center">{{$index + 1}}</td>
                            @*<td class="text-center">{{product.ProductId}}</td>*@
                            <td class="text-center">{{product.ProductName}}</td>
                            <td class="text-center">{{product.BrandName}}</td>
                            <td class="text-center">{{product.GroupName}}</td>
                            <td class="text-center">{{product.CategoryName}}</td>
                            <td class="text-center">{{product.TypeName}}</td>
                            <td class="text-center">{{product.AddedDate}}</td>
                            <td class="text-center hidden-print">
                                <button class="btn btn-warning" ng-click="EditProduct(product);"><i class="icon-pencil icon-white"></i> Edit</button>
                                <button class="btn btn-danger" ng-click="DeleteProduct(product);"><i class="icon-remove icon-white"></i> Delete</button>

                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
