
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PharmacyLayout.cshtml";
}

<script src="~/Scripts/Controller/Sales.js"></script>

@section style
    {
    <style>
        label.error {
            color: red;
            font-style: italic;
            display: inline;
        }

        .divIcon {
            display: flex;
            align-items: center;
            position: relative;
            display: inline;
        }

        .dtlistIcon {
            position: absolute;
            padding: 10px;
            font-size: 11px;
            min-width: 40px;
            right: -32.5px;
        }
        
        /*input::-webkit-calendar-picker-indicator {
            display: none;
        }*/
    </style>
}
<br />
<div ng-app="myApp">
    <div class="widget green" ng-controller="Sales">
        <div class="widget-title hidden-print">
            <h4><i class="icon-reorder"></i> Sale List</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>

            </span>
        </div>
        <div class="widget-body">
            <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row-fluid hidden-print">
                    <div class="span10">
                        <div id="sample_1_length" class="dataTables_length">
                            <label>
                                <select ng-model="ddlPage" id="PageId" name="PageId" ng-change="totalAmount = 0; totalQuantity = 0;" class="input-mini" ng-options="page.PageNoShow for page in PageList track by page.PageId" ng-init="ddlPage.PageId =1" title="Page" data-toggle="tooltip"></select>&nbsp;records per page
                            </label>
                            <button class="btn btn-mini btn-info" ng-click="PrintDoc();"><i class="icon-print icon-white"></i> Print</button>
                            <button class="btn btn-mini btn-warning" ng-click="RedirectToCreate();"><i class="icon-plus icon-white"></i> Create</button>
                            <span style="float:right;">
                                <input type="text" class="input-medium" id="startDate" placeholder="Start Date" ng-model="StartDate" />
                                <input type="text" class="input-medium" id="endDate" ng-model="EndDate" placeholder="End Date" />
                                <button type="submit" class="btn btn-warning" ng-click="GetDetails()" style="height: 30px;">Load</button>
                                </span>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="dataTables_filter" id="sample_1_filter">
                           
                                <input type="text" aria-controls="sample_1" placeholder="Search here..." ng-model="SearchItem" class="input-medium">
                          
                        </div>
                    </div>
                </div><table class="table table-striped table-bordered dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                        <tr role="row">
                            <th style="width: 2%;" class="text-center">S/L</th>
                            <th class="text-center">Product Name</th>
                            <th class="text-center">Bill No</th>
                            <th class="text-center">Sale Date</th>
                            <th class="text-center">Discount</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">Amount</th>
                            <th style="width: 15%;" class="text-center hidden-print">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="sale in SaleList | filter: SearchItem |limitTo:ddlPage.PageNo">
                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center">{{sale.ProductName}}</td>
                            <td class="text-center">{{sale.BillNo}}</td>
                            <td class="text-center">{{sale.SaleDate}}</td>
                            <td class="text-center">{{sale.Discount}} {{sale.DiscountType}}</td>
                            <td class="text-center">{{sale.Quantity}}</td>
                            <td class="text-center">{{sale.UnitPrice}}</td>
                            <td class="text-center">{{sale.Amount}}{{GetTotalAmount(sale, $index)}}</td>
                            <td class="text-center hidden-print">
                                <button class="btn btn-warning" ng-click="EditSale(sale);"><i class="icon-pencil icon-white"></i> Edit</button>
                                <button class="btn btn-danger" ng-click="DeleteSale(sale);"><i class="icon-remove icon-white"></i> Delete</button>

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align:right;">Total Quantity</td>
                            <td>{{totalQuantity}}</td>
                            <td style="text-align:right">Total Amount</td>
                            <td>{{totalAmountFix}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

